In [ ]:
import pandas as pd
import numpy as np
from pandas import Series, DataFrame
import matplotlib as plt

import copy

In [ ]:
%matplotlib inline

# Load data

In [ ]:
input_file_path = 'data/train.csv'

In [ ]:
df_initial = pd.read_csv(input_file_path)

In [ ]:
len(df_initial.columns)

In [ ]:
df_initial.head()

### Rename columns

In [ ]:
def rename_columns(df):    
    names_mapping = {}
    for col in df.columns:
        names_mapping[col] = col.replace(' ', '_')
    return df.rename_axis(names_mapping, axis='columns')

In [ ]:
df_initial_renamed = rename_columns(df_initial)

# Check data cleanyness

In [ ]:
df_initial_renamed.isnull().sum()

# Checking datatypes

**Categorical variables**
- Job Type (nominal)
- School Level (ordinal)
- Domestic Status (nominal)
- Profession (nominal)
- Domestic Relationship Status (nominal)
- Ethnicity (nominal)
- Gender (binary?)
- Country of origin (nominal)

**Numeric variables**
- Birth date (after transformation)
- Earned dividends
- Interest earned
- Monthly Work

**Target**

Binary

In [ ]:
df_initial_renamed.dtypes

In [ ]:
categorical_variables = [
    "job_type",
    "school_level",
    "domestic_status",
    "profession",
    "domestic_relationship_type",
    "ethnicity",
    "gender"    
]

In [ ]:
df_initial_renamed.describe(include=['object'])

In [ ]:
df_initial_renamed.job_type.value_counts()

How to get correlations per category?

We can see a lot of "gov" jobs that we might potentially categorize together

In [ ]:
df_initial_renamed.school_level.value_counts()

We need to group these beter. Later, we need to order them

In [ ]:
df_initial_renamed.domestic_status.value_counts()

What is "d"? divorced?

In [ ]:
df_initial_renamed.domestic_relationship_type.value_counts()

The dataset is all about woman. That's why there's a single lesbian.

Also, we might be able to cross the info from domestic_relationship_type with domestic_status.

In [ ]:
df_initial_renamed.ethnicity.value_counts()

In [ ]:
df_initial_renamed.gender.value_counts()

Let's just drop this.

## Numeric variables

* Birth date (after transformation)
* Earned dividends
* Interest earned
* Monthly Work

Birth date needs to be converted ... to year + month + date? Just calculate age instead

In [ ]:
df_initial_renamed.describe(exclude=['object'])

Earned_dividends can be droped.

In [ ]:
df_initial_renamed.interest_earned.hist(bins=50)

In [ ]:
df_initial_renamed[(df_initial_renamed.interest_earned > 0)].interest_earned.hist(bins=50)

In [ ]:
float((df_initial_renamed.interest_earned > 0).sum()) / df_initial_renamed.interest_earned.count()

In [ ]:
df_initial_renamed.monthly_work.hist(bins=50)

In [ ]:
df_initial_renamed.monthly_work.plot(kind='box')

# Target

In [ ]:
df_initial_renamed.target.value_counts()

# Strategy

Variables to drop:
* ID
* Gender
* Earned Dividends

Transform variables:
* Convert Birth date to age
* Categorize and covert school_level to numeric
* Maybe binarize interest_earned

In [ ]:
def drop_variables(df_input, variables_to_drop):
    df = copy.deepcopy(df_input)
    for variable in variables_to_drop:
        df = df.drop(variable, axis=1)
    return df

In [ ]:
drop_variables(df_initial_renamed, ['id', 'gender', 'earned_dividends'])

In [ ]:
df_initial_renamed.earned_dividends